<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% if includeAnalyticsJs %}
        <script>
            // KISSmetrics
            var _kmq = _kmq || [];
            var _kmk = _kmk || 'fcd641ac44b5e8f918876bea305456d3b21fdda2';
            function _kms(u){
              setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
              }, 1);
            }
            _kms('//i.kissmetrics.com/i.js');
            _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
            {% if user %}
                _kmq.push(['identify', {{ user.user.id }}]);
            {% endif %}
        </script>
        {% endif %}

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="ClearType" content="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="//ajax.googleapis.com/" rel="dns-prefetch" />
        <link href="//www.google-analytics.com/" rel="dns-prefetch" />
        <title>{% block title %}Office Catering in London from City Pantry{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}{% endblock %}" />
        <link href="/favicon.ico" rel="icon" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link href="/dist/css/main.min.css?cacheBuster={{ cacheBusterValue }}" rel="stylesheet" />

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="//use.typekit.net/qsr0jnc.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <script src="//use.fonticons.com/1518eb00.js"></script>

        {% if includeAnalyticsJs %}
            <script>
                // Lucky Orange.
                window.__wtw_lucky_site_id = 21550;
                (function() {
                    var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
                    wa.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://cdn') + '.luckyorange.com/w.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
                  })();
            </script>
        {% endif %}

        {% if includeAnalyticsJs %}
            <script>
                // Google Analytics
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-44429548-1', 'auto');
                ga('require', 'displayfeatures');
                ga('send', 'pageview');
            </script>
        {% endif %}

        <script>
            window.hubspotBase = '{{ hubspotBase }}';
            window.googleMapsJavascriptApiV3Key = '{{ googleMapsJavascriptApiV3Key }}';
            window.cacheBusterValue = '{{ cacheBusterValue }}';
            window.FileAPI = {
                jsUrl: '/dist/ng-file-upload/FileAPI.min.js',
                flashUrl: '/dist/ng-file-upload/FileAPI.flash.swf'
            };
        </script>

        <script src="/dist/js/built.js?cacheBuster={{ cacheBusterValue }}"></script>

        <base href="/" />
    </head>
    <body ng-app="cp">
        <cp-header></cp-header>

        {% block body %}{% endblock %}

        {% include 'default-layout/footer.html.twig' %}

        {% include 'default-layout/notification-modal.html.twig' %}

        {% if includeAnalyticsJs %}
            <!-- Start of Async HubSpot Analytics Code -->
            <script type="text/javascript">
            (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/481217.js';
            e.parentNode.insertBefore(n, e);
            })(document,"script","hs-analytics",300000);
            </script>
            <!-- End of Async HubSpot Analytics Code -->
        {% endif %}
    </body>
</html>
