<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% if includeAnalyticsJs and not isStaff %}
        <script>
            (function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            })();

            // Segment.
            !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
            analytics.load('{{ segmentWriteKey }}');
            {% if user %}
            analytics.identify('{{ user.user.id }}', {
                name: '{{ user.user.name | replace("'", "\'") }}',
                email: '{{ user.user.email | replace("'", "\'") }}',
                humanId: {{ user.user.humanId }}
            });
            {% endif %}
        }}();
        </script>
        {% endif %}

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="ClearType" content="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% if app.environment == 'prod' %}
            <link href="//ajax.googleapis.com/" rel="dns-prefetch" />
            <link href="//www.google-analytics.com/" rel="dns-prefetch" />
        {% endif %}

        <title>{% block title %}Office Catering in London from City Pantry{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}{% endblock %}" />
        <link href="/favicon.ico" rel="icon" />

        {% if app.environment == 'prod' %}
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        {% endif %}

        <link href="/dist/css/main.min.css?cacheBuster={{ cacheBusterValue }}" rel="stylesheet" />

        {% if app.environment == 'prod' %}
            <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <script src="//use.typekit.net/qsr0jnc.js"></script>
            <script>try{Typekit.load();}catch(e){}</script>
        {% endif %}

        <script src="//use.fonticons.com/1518eb00.js"></script>

        {% if includeAnalyticsJs and not isStaff %}
            <script>
                // Google Analytics
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-44429548-1', 'auto');
                ga('require', 'displayfeatures');
            </script>
        {% endif %}

        <script>
            {% if user %}
                window.userId = '{{ user.user.id }}';
            {% endif %}
            window.frontendBase = '{{ frontendBase }}';
            window.apiBase = '{{ apiBase }}';
            window.hubspotBase = '{{ hubspotBase }}';
            window.googleMapsJavascriptApiV3Key = '{{ googleMapsJavascriptApiV3Key }}';
            window.cacheBusterValue = '{{ cacheBusterValue }}';
            window.includeAnalyticsJs = {{ includeAnalyticsJs ? 'true' : 'false' }};
            window.isStaff = {{ isStaff ? 'true' : 'false' }};
            window.FileAPI = {
                jsUrl: '/dist/ng-file-upload/FileAPI.min.js',
                flashUrl: '/dist/ng-file-upload/FileAPI.flash.swf'
            };
        </script>

        <script src="/dist/js/built.js?cacheBuster={{ cacheBusterValue }}"></script>

        <base href="/" />
    </head>
    <body ng-app="cp">
        <cp-header></cp-header>

        {% block body %}{% endblock %}

        {% include 'default-layout/footer.html.twig' %}

        {% include 'default-layout/notification-modal.html.twig' %}

        {% if includeAnalyticsJs and not isStaff %}
            <!-- Start of Async HubSpot Analytics Code -->
            <script type="text/javascript">
            (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/481217.js';
            e.parentNode.insertBefore(n, e);
            })(document,"script","hs-analytics",300000);

            var _hsq = _hsq || [];

            {% if user %}
                _hsq.push(['identify', {
                    email: '{{ user.user.email }}'
                }]);
            {% endif %}
            </script>
            <!-- End of Async HubSpot Analytics Code -->
        {% endif %}

        {% if includeAnalyticsJs and includeRegistrationTrackingCode and not isStaff %}
            <!-- Google AdWords registration. -->
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/973394162/?value=0&amp;currency_code=GBP&amp;label=IKapCI3EtVwQ8qGT0AM&amp;guid=ON&amp;script=0"/>
            </div>

            <!-- Twitter registrations. -->
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l62ac&amp;p_id=Twitter&amp;tw_sale_amount=0&amp;tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l62ac&amp;p_id=Twitter&amp;tw_sale_amount=0&amp;tw_order_quantity=0" />

            <!-- Facebook registration. -->
            <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6029823221946&amp;cd[value]=0.00&amp;cd[currency]=GBP&amp;noscript=1" />
        {% endif %}
    </body>
</html>
