{% extends 'base.html.twig' %}

{% block title %}Meet the vendors | City Pantry{% endblock %}

{% block body %}
    <main role="main">
        <div class="wrapper">
            <h1 class="section-title">Meet the vendors</h1>

            <ul class="vendors">
                {% for vendor in vendors %}
                    <li class="vendor">
                        <a href="/vendor/{{ vendor.id }}-{{ vendor.slug }}">
                            {% if (vendor.images | length) > 0 %}
                                <div class="img-responsive vendor-image" style="background-image: url({{ vendor.images[0].medium }});"></div>
                            {% else %}
                                <div class="img-responsive vendor-image"></div>
                            {% endif %}

                            <h2 class="vendor-name">{{ vendor.name }}</h2>

                            <span class="vendor-type">{{ vendor.businessType.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>

{% endblock %}
